openapi: 3.0.3
info:
  title: Shapeways Cart Materials API
  version: v1
  description: 'The Shapeways API provides programmatic access to Shapeways'' on-demand 3D printing and additive manufacturing platform: browse the material catalog, upload and manage 3D models, retrieve shipping options, and place and track manufacturing orders. Authentication is OAuth 2.0 (client_credentials for single-account apps, authorization_code + refresh_token for multi-user apps). Endpoints are versioned with a trailing /v1 path segment. This document is a faithful transcription of the public API reference published at https://developers.shapeways.com/ — it is not an official Shapeways OpenAPI document.'
  x-provenance:
    generated: '2026-07-21'
    method: generated
    source: https://developers.shapeways.com/api-reference
  contact:
    name: Shapeways API
    email: api@shapeways.com
    url: https://developers.shapeways.com/
servers:
- url: https://api.shapeways.com
  description: Production
security:
- oauth2: []
tags:
- name: Materials
  description: The Shapeways material catalog (40+ materials).
paths:
  /materials/v1:
    get:
      operationId: listMaterials
      tags:
      - Materials
      summary: List materials
      description: Retrieve information on all available Shapeways materials.
      responses:
        '200':
          description: A list of materials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaterialList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /materials/{materialId}/v1:
    get:
      operationId: getMaterial
      tags:
      - Materials
      summary: Get material information
      description: Retrieve information on a single material by id.
      parameters:
      - name: materialId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Material detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Material'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    MaterialList:
      type: object
      properties:
        result:
          type: string
        materials:
          type: object
        nextActionSuggestions:
          type: object
    Material:
      type: object
      properties:
        result:
          type: string
        materialId:
          type: integer
        title:
          type: string
        supportsColorFiles:
          type: boolean
        printerId:
          type: integer
        swatch:
          type: string
        restrictions:
          type: object
        rejections:
          type: object
        nextActionSuggestions:
          type: object
    Result:
      type: object
      description: Standard response envelope. All responses carry a result field.
      properties:
        result:
          type: string
          description: success or failure.
        nextActionSuggestions:
          type: object
  responses:
    Unauthorized:
      description: Missing or invalid OAuth 2.0 bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Result'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0. client_credentials for single-account apps; authorization_code (+ refresh_token) for multi-user apps.
      flows:
        clientCredentials:
          tokenUrl: https://api.shapeways.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://api.shapeways.com/oauth2/authorize
          tokenUrl: https://api.shapeways.com/oauth2/token
          scopes: {}
